In [3]:
import pandas as pd
import numpy as np

In [46]:
api_sp = pd.read_csv('data/API_SP.csv', sep=',', encoding='utf8', engine='python')

In [22]:
api_sp.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

In [33]:
api_sp['Indicator Code'].unique

<bound method Series.unique of 0      SP.DYN.LE00.IN
1      SP.DYN.LE00.IN
2      SP.DYN.LE00.IN
3      SP.DYN.LE00.IN
4      SP.DYN.LE00.IN
            ...
259    SP.DYN.LE00.IN
260    SP.DYN.LE00.IN
261    SP.DYN.LE00.IN
262    SP.DYN.LE00.IN
263    SP.DYN.LE00.IN
Name: Indicator Code, Length: 264, dtype: object>

In [47]:
api_sp.drop('Country Code',axis=1,inplace=True)
api_sp.drop('Indicator Name',axis=1,inplace=True)
api_sp.drop('Indicator Code',axis=1,inplace=True)

In [48]:
api_sp_1 = api_sp.melt(id_vars=["Country Name"], var_name="year")

In [41]:
api_sp_1.isna().sum()

Country Name       0
year               0
value           2123
dtype: int64

In [49]:
api_sp_1.dropna(inplace=True)

In [50]:
api_sp_1

       Country Name  year      value
0             Aruba  1960  65.662000
1       Afghanistan  1960  32.446000
2            Angola  1960  37.524000
3           Albania  1960  62.283000
5        Arab World  1960  46.546909
...             ...   ...        ...
15571        Kosovo  2018  72.195122
15572   Yemen, Rep.  2018  66.096000
15573  South Africa  2018  63.857000
15574        Zambia  2018  63.510000
15575      Zimbabwe  2018  61.195000

[14245 rows x 3 columns]

In [51]:
df1 = pd.read_csv('data/coordinates.csv',sep='\t')

In [ ]:
df1.rename({'country':'Country Name'},axis=1,inplace=True)

In [ ]:
merged_df = pd.merge(df, df1, on='country').rename({'latitude':'CenterLatitude','longitude':'CenterLongitude'},axis=1)

In [ ]:
api_sp_1.drop('Country Code',axis=1,inplace=True)

In [16]:
api_sp_1.value = api_sp_1.value.astype(int)

In [23]:
api_sp_1.year = api_sp_1.year.astype(int)

In [35]:
df1 = api_sp_1.loc[api_sp_1.year == 2018]

In [39]:
df1 = api_sp_1.query("year == 2007")

In [40]:
df1

       Country Name  year  value
12408         Aruba  2007     74
12409   Afghanistan  2007     59
12410        Angola  2007     52
12411       Albania  2007     75
12413    Arab World  2007     69
...             ...   ...    ...
12667        Kosovo  2007     69
12668   Yemen, Rep.  2007     64
12669  South Africa  2007     54
12670        Zambia  2007     51
12671      Zimbabwe  2007     44

[247 rows x 3 columns]

In [55]:
api_sp_1.to_csv("data/API_SP_clean.csv", index=False)

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px

df = px.data.election()
geojson = px.data.election_geojson()
candidates = df.winner.unique()

app = dash.Dash(__name__)

app.layout = html.Div([
    html.P("Candidate:"),
    dcc.RadioItems(
        id='candidate', 
        options=[{'value': x, 'label': x} 
                 for x in candidates],
        value=candidates[0],
        labelStyle={'display': 'inline-block'}
    ),
    dcc.Graph(id="choropleth"),
])

@app.callback(
    Output("choropleth", "figure"), 
    [Input("candidate", "value")])
def display_choropleth(candidate):
    fig = px.choropleth(
        df, geojson=geojson, color=candidate,
        locations="district", featureidkey="properties.district",
        projection="mercator", range_color=[0, 6500])
    fig.update_geos(fitbounds="locations", visible=False)
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

    return fig

app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off